body {
  font-family: 'Helvetica Neues', 'Arial';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.inverted {
  filter: invert(100%);
}

.colored {
  background-color: #003366;
  color: white;
}

.remark-code, .remark-inline-code {
  font-family: 'Courier New';
  font-size: 18px;
  text-align: left;
}

.remark-inline-code {
  font-size: 25px;
}

/* Hide slide numbers */
.remark-slide-number {
  display: none
}

.remark-slide-content h1 {
  font-size: 70px;
}

.remark-slide-content h2 {
  font-size: 60px
}

.remark-slide-content h3 {
  font-size: 50px
}

.remark-slide-content {
  background-size: contain;
  font-size: 25px;
}

.remark-slide ul {
  text-align: left;
}

.remark-slide ol {
  text-align: left;
}

.emoji {
  text-align: center;
  font-size: 80px;
}

/* Improvements to googlecode syntax highlighting */
.hljs-title, .hljs-keyword {
  font-weight: bold;
}
