/**
 * Syntax highlighting styles
 * Using Nord Theme: https://www.nordtheme.com/
 */
.highlight {
  background-color: #eceff4; // nord6 - lighter background
  @extend %vertical-rhythm !optional;

  .highlighter-rouge & {
    background-color: #eceff4; // nord6 - lighter background
  }

  // Light mode - Darker Nord colors for better contrast on light backgrounds
  .cm    { color: #3b4252; font-style: italic } // Comment.Multiline - nord1 (darker)
  .cp    { color: #3b4252; font-weight: bold } // Comment.Preproc - nord1
  .c1    { color: #3b4252; font-style: italic } // Comment.Single - nord1
  .cs    { color: #3b4252; font-weight: bold; font-style: italic } // Comment.Special - nord1
  .c, .cd { color: #3b4252; font-style: italic } // Comment, Comment.Doc - nord1
  .err   { color: #bf616a; background-color: #e5e9f0 } // Error - nord11
  .gd    { color: #bf616a } // Generic.Deleted - nord11
  .ge    { color: #2e3440; font-style: italic } // Generic.Emph - nord0
  .gr    { color: #bf616a } // Generic.Error - nord11
  .gh    { color: #5e81ac; font-weight: bold } // Generic.Heading - nord10
  .gi    { color: #6a8759 } // Generic.Inserted - darker green
  .go    { color: #3b4252 } // Generic.Output - nord1
  .gp    { color: #3b4252 } // Generic.Prompt - nord1
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #5e81ac; font-weight: bold } // Generic.Subheading - nord10
  .gt    { color: #bf616a } // Generic.Traceback - nord11
  .kc    { color: #5e81ac; font-weight: bold } // Keyword.Constant - nord10 (darker blue)
  .kd    { color: #5e81ac; font-weight: bold } // Keyword.Declaration - nord10
  .kn    { color: #5e81ac; font-weight: bold } // Keyword.Namespace - nord10
  .kp    { color: #5e81ac; font-weight: bold } // Keyword.Pseudo - nord10
  .kr    { color: #5e81ac; font-weight: bold } // Keyword.Reserved - nord10
  .kt    { color: #5e81ac; font-weight: bold } // Keyword.Type - nord10
  .k, .kv { color: #5e81ac; font-weight: bold } // Keyword, Keyword.Variable - nord10
  .mf    { color: #97689b } // Literal.Number.Float - darker purple
  .mh    { color: #97689b } // Literal.Number.Hex - darker purple
  .il    { color: #97689b } // Literal.Number.Integer.Long - darker purple
  .mi    { color: #97689b } // Literal.Number.Integer - darker purple
  .mo    { color: #97689b } // Literal.Number.Oct - darker purple
  .m, .mb, .mx { color: #97689b } // Literal.Number - darker purple
  .sb    { color: #6a8759 } // Literal.String.Backtick - darker green
  .sc    { color: #6a8759 } // Literal.String.Char - darker green
  .sd    { color: #6a8759 } // Literal.String.Doc - darker green
  .s2    { color: #6a8759 } // Literal.String.Double - darker green
  .se    { color: #c19135 } // Literal.String.Escape - darker yellow
  .sh    { color: #6a8759 } // Literal.String.Heredoc - darker green
  .si    { color: #6a8759 } // Literal.String.Interpol - darker green
  .sx    { color: #6a8759 } // Literal.String.Other - darker green
  .sr    { color: #6a8759 } // Literal.String.Regex - darker green
  .s1    { color: #6a8759 } // Literal.String.Single - darker green
  .ss    { color: #97689b } // Literal.String.Symbol - darker purple
  .s     { color: #6a8759 } // Literal.String - darker green
  .na    { color: #5e81ac } // Name.Attribute - nord10
  .bp    { color: #5e81ac } // Name.Builtin.Pseudo - nord10
  .nb    { color: #5e9ca0 } // Name.Builtin - darker cyan
  .nc    { color: #5e9ca0; font-weight: bold } // Name.Class - darker cyan
  .no    { color: #5e81ac } // Name.Constant - nord10
  .nd    { color: #a86744 } // Name.Decorator - darker orange
  .ni    { color: #5e9ca0 } // Name.Entity - darker cyan
  .ne    { color: #bf616a; font-weight: bold } // Name.Exception - nord11
  .nf    { color: #5e9ca0 } // Name.Function - darker cyan
  .nl    { color: #5e9ca0 } // Name.Label - darker cyan
  .nn    { color: #5e9ca0 } // Name.Namespace - darker cyan
  .nt    { color: #5e81ac } // Name.Tag - nord10
  .vc    { color: #5e9ca0 } // Name.Variable.Class - darker cyan
  .vg    { color: #5e9ca0 } // Name.Variable.Global - darker cyan
  .vi    { color: #5e9ca0 } // Name.Variable.Instance - darker cyan
  .nv    { color: #5e9ca0 } // Name.Variable - darker cyan
  .ow    { color: #5e81ac; font-weight: bold } // Operator.Word - nord10
  .o     { color: #5e81ac } // Operator - nord10
  .w     { color: #3b4252 } // Text.Whitespace - nord1
}

// Dark mode - Nord colors work beautifully on dark backgrounds too!
@media (prefers-color-scheme: dark) {
  .highlight {
    .cm    { color: #616e88; font-style: italic } // Comment.Multiline - nord3 brightened
    .cp    { color: #616e88; font-weight: bold } // Comment.Preproc
    .c1    { color: #616e88; font-style: italic } // Comment.Single
    .cs    { color: #616e88; font-weight: bold; font-style: italic } // Comment.Special
    .c, .cd { color: #616e88; font-style: italic } // Comment, Comment.Doc
    .err   { color: #bf616a; background-color: #3b4252 } // Error - nord11
    .gd    { color: #bf616a } // Generic.Deleted - nord11
    .ge    { color: #eceff4; font-style: italic } // Generic.Emph - nord6
    .gr    { color: #bf616a } // Generic.Error - nord11
    .gh    { color: #88c0d0; font-weight: bold } // Generic.Heading - nord8
    .gi    { color: #a3be8c } // Generic.Inserted - nord14
    .go    { color: #616e88 } // Generic.Output - nord3 brightened
    .gp    { color: #616e88 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #88c0d0; font-weight: bold } // Generic.Subheading - nord8
    .gt    { color: #bf616a } // Generic.Traceback - nord11
    .kc    { color: #81a1c1; font-weight: bold } // Keyword.Constant - nord9
    .kd    { color: #81a1c1; font-weight: bold } // Keyword.Declaration - nord9
    .kn    { color: #81a1c1; font-weight: bold } // Keyword.Namespace - nord9
    .kp    { color: #81a1c1; font-weight: bold } // Keyword.Pseudo - nord9
    .kr    { color: #81a1c1; font-weight: bold } // Keyword.Reserved - nord9
    .kt    { color: #81a1c1; font-weight: bold } // Keyword.Type - nord9
    .k, .kv { color: #81a1c1; font-weight: bold } // Keyword, Keyword.Variable - nord9
    .mf    { color: #b48ead } // Literal.Number.Float - nord15
    .mh    { color: #b48ead } // Literal.Number.Hex - nord15
    .il    { color: #b48ead } // Literal.Number.Integer.Long - nord15
    .mi    { color: #b48ead } // Literal.Number.Integer - nord15
    .mo    { color: #b48ead } // Literal.Number.Oct - nord15
    .m, .mb, .mx { color: #b48ead } // Literal.Number - nord15
    .sb    { color: #a3be8c } // Literal.String.Backtick - nord14
    .sc    { color: #a3be8c } // Literal.String.Char - nord14
    .sd    { color: #a3be8c } // Literal.String.Doc - nord14
    .s2    { color: #a3be8c } // Literal.String.Double - nord14
    .se    { color: #ebcb8b } // Literal.String.Escape - nord13
    .sh    { color: #a3be8c } // Literal.String.Heredoc - nord14
    .si    { color: #a3be8c } // Literal.String.Interpol - nord14
    .sx    { color: #a3be8c } // Literal.String.Other - nord14
    .sr    { color: #a3be8c } // Literal.String.Regex - nord14
    .s1    { color: #a3be8c } // Literal.String.Single - nord14
    .ss    { color: #b48ead } // Literal.String.Symbol - nord15
    .s     { color: #a3be8c } // Literal.String - nord14
    .na    { color: #8fbcbb } // Name.Attribute - nord7
    .bp    { color: #81a1c1 } // Name.Builtin.Pseudo - nord9
    .nb    { color: #88c0d0 } // Name.Builtin - nord8
    .nc    { color: #8fbcbb; font-weight: bold } // Name.Class - nord7
    .no    { color: #5e81ac } // Name.Constant - nord10
    .nd    { color: #d08770 } // Name.Decorator - nord12
    .ni    { color: #8fbcbb } // Name.Entity - nord7
    .ne    { color: #bf616a; font-weight: bold } // Name.Exception - nord11
    .nf    { color: #88c0d0 } // Name.Function - nord8
    .nl    { color: #88c0d0 } // Name.Label - nord8
    .nn    { color: #8fbcbb } // Name.Namespace - nord7
    .nt    { color: #81a1c1 } // Name.Tag - nord9
    .vc    { color: #8fbcbb } // Name.Variable.Class - nord7
    .vg    { color: #8fbcbb } // Name.Variable.Global - nord7
    .vi    { color: #8fbcbb } // Name.Variable.Instance - nord7
    .nv    { color: #8fbcbb } // Name.Variable - nord7
    .ow    { color: #81a1c1; font-weight: bold } // Operator.Word - nord9
    .o     { color: #81a1c1 } // Operator - nord9
    .w     { color: #616e88 } // Text.Whitespace - nord3 brightened
  }
}
