/**
 * Syntax highlighting styles
 */
.highlight {
  background-color: #f8f8f8;
  @extend %vertical-rhythm !optional;

  .highlighter-rouge & {
    background-color: #f8f8f8;
  }

  .cm    { color: #727262; font-style: italic } // Comment.Multiline
  .cp    { color: #727272; font-weight: bold } // Comment.Preproc
  .c1    { color: #727262; font-style: italic } // Comment.Single
  .cs    { color: #727272; font-weight: bold; font-style: italic } // Comment.Special
  .c, .cd { color: #727262; font-style: italic } // Comment, Comment.Doc
  .err   { color: #a61717; background-color: #e3d2d2 } // Error
  .gd    { color: #000; background-color: #fdd } // Generic.Deleted
  .ge    { color: #000; font-style: italic } // Generic.Emph
  .gr    { color: #a00 } // Generic.Error
  .gh    { color: #727272 } // Generic.Heading
  .gi    { color: #000; background-color: #dfd } // Generic.Inserted
  .go    { color: #727272 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #727272 } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    { color: #000; font-weight: bold } // Keyword.Constant
  .kd    { color: #000; font-weight: bold } // Keyword.Declaration
  .kn    { color: #000; font-weight: bold } // Keyword.Namespace
  .kp    { color: #000; font-weight: bold } // Keyword.Pseudo
  .kr    { color: #000; font-weight: bold } // Keyword.Reserved
  .kt    { color: #458; font-weight: bold } // Keyword.Type
  .k, .kv { color: #000; font-weight: bold } // Keyword, Keyword.Variable
  .mf    { color: #007f7f } // Literal.Number.Float
  .mh    { color: #007f7f } // Literal.Number.Hex
  .il    { color: #007f7f } // Literal.Number.Integer.Long
  .mi    { color: #007f7f } // Literal.Number.Integer
  .mo    { color: #007f7f } // Literal.Number.Oct
  .m, .mb, .mx { color: #007f7f } // Literal.Number, Literal.Number.Bin, Literal.Number.Other
  .sb    { color: #d14 } // Literal.String.Backtick
  .sc    { color: #d14 } // Literal.String.Char
  .sd    { color: #d14 } // Literal.String.Doc
  .s2    { color: #d14 } // Literal.String.Double
  .se    { color: #d14 } // Literal.String.Escape
  .sh    { color: #d14 } // Literal.String.Heredoc
  .si    { color: #d14 } // Literal.String.Interpol
  .sx    { color: #d14 } // Literal.String.Other
  .sr    { color: #008522 } // Literal.String.Regex
  .s1    { color: #d14 } // Literal.String.Single
  .ss    { color: #990073 } // Literal.String.Symbol
  .s     { color: #d14 } // Literal.String
  .na    { color: #007f7f } // Name.Attribute
  .bp    { color: #727272 } // Name.Builtin.Pseudo
  .nb    { color: #007aa3 } // Name.Builtin
  .nc    { color: #458; font-weight: bold } // Name.Class
  .no    { color: #007f7f } // Name.Constant
  .nd    { color: #3c5d5d; font-weight: bold } // Name.Decorator
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #900; font-weight: bold } // Name.Exception
  .nf    { color: #900; font-weight: bold } // Name.Function
  .nl    { color: #900; font-weight: bold } // Name.Label
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: #000080 } // Name.Tag
  .vc    { color: #007f7f } // Name.Variable.Class
  .vg    { color: #007f7f } // Name.Variable.Global
  .vi    { color: #007f7f } // Name.Variable.Instance
  .nv    { color: #007f7f } // Name.Variable
  .ow    { color: #000; font-weight: bold } // Operator.Word
  .o     { color: #000; font-weight: bold } // Operator
  .w     { color: #727272 } // Text.Whitespace
}

// Dark mode syntax highlighting with better contrast
@media (prefers-color-scheme: dark) {
  .highlight {
    .cm    { color: #9ca3af } // Comment.Multiline - lighter grey
    .cp    { color: #d1d5db; font-weight: bold } // Comment.Preproc
    .c1    { color: #9ca3af } // Comment.Single
    .cs    { color: #d1d5db; font-weight: bold; font-style: italic } // Comment.Special
    .c, .cd { color: #9ca3af } // Comment, Comment.Doc
    .err   { color: #fca5a5; background-color: #7f1d1d } // Error - light red on dark red
    .gd    { color: #fef2f2; background-color: #7f1d1d } // Generic.Deleted
    .ge    { color: #e0e0e0; font-style: italic } // Generic.Emph
    .gr    { color: #fca5a5 } // Generic.Error
    .gh    { color: #d1d5db } // Generic.Heading
    .gi    { color: #f0fdf4; background-color: #14532d } // Generic.Inserted - light green on dark green
    .go    { color: #d1d5db } // Generic.Output
    .gp    { color: #9ca3af } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #d1d5db } // Generic.Subheading
    .gt    { color: #fca5a5 } // Generic.Traceback
    .kc    { color: #fbbf24; font-weight: bold } // Keyword.Constant - amber
    .kd    { color: #fbbf24; font-weight: bold } // Keyword.Declaration
    .kn    { color: #fbbf24; font-weight: bold } // Keyword.Namespace
    .kp    { color: #fbbf24; font-weight: bold } // Keyword.Pseudo
    .kr    { color: #fbbf24; font-weight: bold } // Keyword.Reserved
    .kt    { color: #60a5fa; font-weight: bold } // Keyword.Type - blue
    .k, .kv { color: #fbbf24; font-weight: bold } // Keyword, Keyword.Variable
    .mf    { color: #34d399 } // Literal.Number.Float - emerald
    .mh    { color: #34d399 } // Literal.Number.Hex
    .il    { color: #34d399 } // Literal.Number.Integer.Long
    .mi    { color: #34d399 } // Literal.Number.Integer
    .mo    { color: #34d399 } // Literal.Number.Oct
    .m, .mb, .mx { color: #34d399 } // Literal.Number
    .sb    { color: #fca5a5 } // Literal.String.Backtick - light red/pink
    .sc    { color: #fca5a5 } // Literal.String.Char
    .sd    { color: #fca5a5 } // Literal.String.Doc
    .s2    { color: #fca5a5 } // Literal.String.Double
    .se    { color: #fca5a5 } // Literal.String.Escape
    .sh    { color: #fca5a5 } // Literal.String.Heredoc
    .si    { color: #fca5a5 } // Literal.String.Interpol
    .sx    { color: #fca5a5 } // Literal.String.Other
    .sr    { color: #86efac } // Literal.String.Regex - light green
    .s1    { color: #fca5a5 } // Literal.String.Single
    .ss    { color: #f0abfc } // Literal.String.Symbol - light purple
    .s     { color: #fca5a5 } // Literal.String
    .na    { color: #34d399 } // Name.Attribute - emerald
    .bp    { color: #d1d5db } // Name.Builtin.Pseudo
    .nb    { color: #60a5fa } // Name.Builtin - blue
    .nc    { color: #60a5fa; font-weight: bold } // Name.Class
    .no    { color: #34d399 } // Name.Constant
    .nd    { color: #7dd3fc; font-weight: bold } // Name.Decorator - light cyan
    .ni    { color: #e9d5ff } // Name.Entity - light purple
    .ne    { color: #fca5a5; font-weight: bold } // Name.Exception
    .nf    { color: #fca5a5; font-weight: bold } // Name.Function
    .nl    { color: #fca5a5; font-weight: bold } // Name.Label
    .nn    { color: #9ca3af } // Name.Namespace
    .nt    { color: #93c5fd } // Name.Tag - light blue
    .vc    { color: #34d399 } // Name.Variable.Class
    .vg    { color: #34d399 } // Name.Variable.Global
    .vi    { color: #34d399 } // Name.Variable.Instance
    .nv    { color: #34d399 } // Name.Variable
    .ow    { color: #fbbf24; font-weight: bold } // Operator.Word
    .o     { color: #fbbf24; font-weight: bold } // Operator
    .w     { color: #6b7280 } // Text.Whitespace
  }
}
