---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Theme Overrides
// https://github.com/yous/whiteglass/blob/master/_sass/whiteglass.scss
// https://systemfontstack.com/
$base-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$base-font-weight: 300;
$monospace-font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
$base-font-size: 18px;

@use "whiteglass" with (
  $base-font-family: $base-font-family,
  $base-font-weight: $base-font-weight,
  $monospace-font-family: $monospace-font-family,
  $base-font-size: $base-font-size
);

.site-header,
.site-footer {
  background-color: whiteglass.$grey-color-light;

  .site-nav a.page-link {
    font-weight: 600;
  }
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

thead tr {
  background: whiteglass.$grey-color-light;
}

tr:nth-child(even) {
  background: whiteglass.$grey-color-light;
}

// Dark mode
@media (prefers-color-scheme: dark) {
  html {
    filter: invert(90%) hue-rotate(180deg);
  }

  iframe, video, img.photo {
    filter: invert(90%) hue-rotate(-180deg);
  }
}
