---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Theme Overrides
// https://github.com/yous/whiteglass/blob/master/_sass/whiteglass.scss
// https://systemfontstack.com/
$base-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$base-font-weight: 300;
$monospace-font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
$base-font-size: 18px;

@use "whiteglass" with (
  $base-font-family: $base-font-family,
  $base-font-weight: $base-font-weight,
  $monospace-font-family: $monospace-font-family,
  $base-font-size: $base-font-size
);

// CSS Custom Properties for Light/Dark Mode
:root {
  // Light mode colors (default)
  --color-text: #111;
  --color-background: #fdfdfd;
  --color-brand: #2568ba;
  --color-brand-visited: #1d5294;
  --color-grey: #757575;
  --color-grey-light: #e8e8e8;
  --color-grey-dark: #424242;
  --color-code-bg: #f8f8f8;
  --color-code-border: #e8e8e8;
  --color-blockquote: #757575;
  --color-border: #e8e8e8;
}

// Dark mode colors
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #e0e0e0;
    --color-background: #1a1a1a;
    --color-brand: #6ca0dc;
    --color-brand-visited: #5a8bc4;
    --color-grey: #a0a0a0;
    --color-grey-light: #2d2d2d;
    --color-grey-dark: #c0c0c0;
    --color-code-bg: #2d2d2d;
    --color-code-border: #404040;
    --color-blockquote: #b0b0b0;
    --color-border: #404040;
  }
}

.site-header,
.site-footer {
  background-color: var(--color-grey-light);

  .site-nav a.page-link {
    font-weight: 600;
  }
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

thead tr {
  background: var(--color-grey-light);
}

tr:nth-child(even) {
  background: var(--color-grey-light);
}

// Override Sass-generated colors with CSS custom properties
// This allows dark mode to work at runtime
body {
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  color: var(--color-brand);

  &:visited {
    color: var(--color-brand-visited);
  }

  &:hover {
    color: var(--color-text);
  }
}

blockquote {
  color: var(--color-blockquote);
  border-left-color: var(--color-grey-light);
}

hr {
  background-color: var(--color-grey-light);
}

pre,
code {
  background-color: var(--color-code-bg);
  border-color: var(--color-code-border);
}

.post-meta {
  color: var(--color-grey);
}

.post-link {
  &,
  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-brand);
  }
}

.post-continue a {
  &,
  &:visited {
    color: var(--color-grey-dark);
    background-color: var(--color-grey-light);
  }

  &:hover {
    background-color: var(--color-brand);
  }
}

.pagination a {
  &,
  &:visited {
    color: var(--color-grey);
  }

  &:hover {
    color: var(--color-brand);
  }
}

.pagination {
  border-top-color: var(--color-grey-light);
  border-bottom-color: var(--color-grey-light);
}

.post-list > li:not(:first-child) {
  border-top-color: var(--color-grey-light);
}

.site-title {
  &,
  &:visited {
    color: var(--color-grey-dark);
  }
}

.site-nav .page-link {
  color: var(--color-text);
}

.site-footer {
  color: var(--color-grey);
}

.highlight {
  background-color: var(--color-code-bg);

  .highlighter-rouge & {
    background-color: var(--color-code-bg);
  }
}
