---
# Only the main Sass file needs front matter (the dashes are enough)
---


// Theme Overrides

// Use system font when possible
// https://nathanfriend.io/2018/04/27/fantastic-fast-fonts-with-system-ui.html
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue',
  Ubuntu, Arial, sans-serif;
 $base-font-size:   18px;

@import "whiteglass";

.site-header, .site-footer {
  background-color: $grey-color-light;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

thead tr {
  background: $grey-color-light;
}

tr:nth-child(even) {
	background: $grey-color-light;
}
