---
# Only the main Sass file needs front matter (the dashes are enough)
---


// Theme Overrides

// Use system font when possible
// https://systemfontstack.com/
$base-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$base-font-size:   18px;

@import "whiteglass";

.site-header, .site-footer {
  background-color: $grey-color-light;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

thead tr {
  background: $grey-color-light;
}

tr:nth-child(even) {
	background: $grey-color-light;
}
