RewriteEngine on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]
Redirect "/blog/archives/" "/archives"
Redirect "/blog/archives" "/archives"
Redirect /blog/2018/11/08/lets-ecnrypt-and-nearly-free-speech/ /blog/2018/11/08/lets-encrypt-and-nearly-free-speech/
RedirectMatch ^/blog/categories/(.*)$ /categories/$1

ErrorDocument 404 /404.html
